@import "tailwindcss";
body {
  min-width: 320px;
  max-width: 2000px;
  overflow-x: hidden;
  color: black;
}
@plugin "tailwindcss-debug-screens";
/* @plugin "@tailwindcss/typography"; */
/* Designs to follow 
gap in between element would be gap-5 horizontally .
main color are white and blue-500 and gray 
border is gray-600 and b-2
*/
.auth_gradient {
  /* gradient here */
  background: linear-gradient(rgb(0, 96, 174), rgb(4, 37, 68));
  box-shadow: 0 12px 15px 0 #00000040;
}

::-webkit-scrollbar {
  width: 2px;
}
